<div class="campaign-container">
    <h2 class="title">Create Campaign</h2>
    <form [formGroup]="campaignForm" (ngSubmit)="saveCampaign()" class="campaign-form">
      <div class="form-group">
        <label for="campaignTitle">Campaign Title:</label>
        <input type="text" id="campaignTitle" formControlName="campaignTitle">
        <div *ngIf="campaignForm.get('campaignTitle')?.invalid && campaignForm.get('campaignTitle')?.touched" class="error-message">
          Campaign Title is required.
        </div>
      </div>
      <div class="form-group">
        <label for="campaignDescr">Campaign Description:</label>
        <input type="text" id="campaignDescr" formControlName="campaignDescr">
        <div *ngIf="campaignForm.get('campaignDescr')?.invalid && campaignForm.get('campaignDescr')?.touched" class="error-message">
            Campaign Description is required.
        </div>
      </div>
      <div class="form-group">
        <label for="campaignScore">Campaign Score:</label>
        <input type="number" id="campaignScore" formControlName="campaignScore" [value]="0">
      </div>
      <div class="form-group">
        <label for="campaignDate">Campaign Date:</label>
        <input type="date" id="campaignDate" formControlName="campaignDate" [value]="getCurrentDate()">
      </div>
      <button type="submit" class="btn-save">Save</button>
    </form>
</div>

  