<div class="login-container">
    <div class="form-container">
      <h2>Login</h2>
      <form (submit)="login()">
        <label>
          <p>Username</p>
          <input type="text" [(ngModel)]="username" name="username" required>
        </label>
        <label>
          <p>Password</p>
          <input type="password" [(ngModel)]="password" name="password" required>
        </label>
        <button type="submit">Login</button>
        <div class="error-message" *ngIf="showError">
            Invalid username or password. Please try again.
        </div>
      </form>
    </div>
    <div class="image-container">
      <img src="https://dummyimage.com/500x500" alt="Dummy Image">
    </div>
  </div>
  