<div class="campaign-item">
    <h3>{{ campaign.campaignTitle }}</h3>
    <p>{{ campaign.campaignDescr }}</p>
    <div class="rating">
      <span class="score">Score: {{ campaign.campaignScore }}</span>
      <button (click)="increaseScore()">+</button>
      <button (click)="decreaseScore()">-</button>
    </div>
    <p class="date">Date: {{ campaign.campaignDate }}</p>
    <div class="actions">
      <button class="update-button" (click)="openUpdateCampaignModal(campaign)">Update</button>
      <button class="delete-button" (click)="deleteCampaign()">Delete</button>
    </div>
  </div>