::ng-deep .custom-success-bar {
  background-color: green;
  color: white;

  .mat-button-wrapper{
    display: none;
  }
}

.campaign-item {
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;

    h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      
      p {
        margin-bottom: 15px;
      }
      
      .rating {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }
      
      .score {
        font-size: 24px;
        font-weight: bold;
        margin-right: 10px;
      }
      
      .date {
        font-style: italic;
      }
      
      .actions {
        display: flex;
        justify-content: flex-end;
      }
      
      button {
        padding: 8px 12px;
        margin-left: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #0056b3;
      }

      .delete-button {
        background: #cf2828;
      }

      .delete-button:hover {
        background: #a71616;
      }
  }
  
  