<h2 class="dialog-title" mat-dialog-title>Update Campaign</h2>
<mat-dialog-content class="modal-content">
  <form [formGroup]="updateForm" class="campaign-form">
    <div class="form-group">
      <label for="campaignTitle">Campaign Title:</label>
      <input type="text" id="campaignTitle" formControlName="campaignTitle">
      <div *ngIf="updateForm.get('campaignTitle')?.invalid && updateForm.get('campaignTitle')?.touched" class="error-message">
        Campaign Title is required.
      </div>
    </div>
    <div class="form-group">
      <label for="campaignDescr">Campaign Description:</label>
      <input type="text" id="campaignDescr" formControlName="campaignDescr">
      <div *ngIf="updateForm.get('campaignDescr')?.invalid && updateForm.get('campaignDescr')?.touched" class="error-message">
        Campaign Description is required.
      </div>
    </div>
    <div class="form-group">
      <label for="campaignScore">Campaign Score:</label>
      <input type="number" id="campaignScore" formControlName="campaignScore">
    </div>
    <div class="form-group">
      <label for="campaignDate">Campaign Date:</label>
      <input type="date" id="campaignDate" formControlName="campaignDate">
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="save-button" mat-button color="primary" (click)="save()" [disabled]="updateForm.invalid">Save</button>
  <button class="close-button" mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>
