<div class="home-container">
    <div class="campaign-list" [ngClass]="{
        'two-columns': isScreenSizeLarge(),
        'one-column': isScreenSizeSmall()
      }">
      <ng-container *ngIf="campaigns.length > 0; else noCampaigns">
        <app-campaign-item
          *ngFor="let campaign of campaigns"
          [campaign]="campaign"
          (campaignDeleted)="handleCampaignDeleted($event)"
        ></app-campaign-item>
      </ng-container>
      <ng-template #noCampaigns>
        <h2>There are no campaigns.</h2>
      </ng-template>
    </div>
  </div>